.container_basic{
    width: 500px;
    height: 300px;
    margin: 0 auto;
    position: relative;
}

.container_img{
    width: 100%;
    height: 100%;
}

.items{
    display: none;
}

.active{
    display: block;
}

.hidden{
    display: none;
}

.img_size{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 30%;
}

.fa-solid{
    color: white;
    font-size: 20px;
}

.arrow{
    padding: 15px;
    border-radius: 50%;
    background-color: lightslategray;
    position: absolute;
}



#previous{
    left: 50%;
    top: 10px;
    transform: translate(-50%);
}

#next{
    left: 50%;
    bottom: 10px;
    transform: translate(-50%);
}